.indexBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.center-form {
    text-align: center;
}
.collapse navbar-collapse{
    display: flex !important;
}